.links a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #3c3c3c;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #eee;
  width: 200px;
  text-align: center;
  display: block;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .links {
    flex-direction: column;
  }

  .links a {
    font-size: 48px;
    width: 60%;
  }
}