h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:active,
a:hover {
    color: rgb(137, 35, 35);
    cursor: pointer;
}