table {
    border-collapse: collapse;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px 0 0 10px;
}

th {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #3c3c3c;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
}

td {
    font-size: 20px;
    text-align: center;
    padding: 10px 25px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color: #3c3c3c;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    table {
        width: 80%;
    }

    th, td {
        width: auto;
        display: block;
    }
}