.weather-btn {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 10px;
    margin: 10px auto;
    border-style: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
    width: 550px;
    text-align: center;
    display: block;
}

.weather-btn:active,
.weather-btn:hover {
    background-color: rgb(158, 157, 157);
    cursor: pointer;
}

.weather-table {
    border-collapse: collapse;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    display: none;
}

table {
    border-collapse: collapse;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px 0 0 10px;
}

th {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #3c3c3c;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
}

td {
    font-size: 20px;
    text-align: center;
    padding: 10px 25px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color: #3c3c3c;
    margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 1024px) {
    table {
        width: 80%;
    }

    h2 {
        font-size: 42px;
    }

    th {
        font-size: 40px;
    }

    td {
        font-size: 36px;
        width: 300px;
    }

    .button.accordion {
        font-size: 48px;
        width: 60%;
    }
}